// Config file

conda.enabled = true

process {
    executor = 'pbspro'
    queue = 'nocg_workq'
    cpus = 1
    memory = 4.GB

    withName: 'fastq_screen' {
        cpus = 8
    }

    withName: 'trimming' {
        cpus = 4
    }

    withName: 'star' {
        queue = 'workq'
        cpus = 8
        memory = 40.GB
    }

}

tower {
  workspaceId = '199148969037822'
  accessToken = 'eyJ0aWQiOiA2NTAxfS44MDBhMWJlYTQ3N2UwZmVlYzM2ODlhNWZiYjg5YWRhMWI5NGYzYTQ0'
  enabled = true
}
