// Config file

conda.enabled = true
singularity.enabled = true
singularity.runOptions = ' --bind /hpcnfs/ --bind /hpcscratch/ --bind /beegfs/ '


params {
  run_strandness = false
  reads = null
  bams = null
  outdir = "results"
  gtf_rnaseq = "/hpcnfs/scratch/ED/genome/GRCh38_human_v39/gencode.v39.primary_assembly.annotation.gtf"
  gtf_bed_strandness = "/hpcnfs/scratch/ED/genome/GRCh38_human_v39/gencode.v39.primary_assembly.annotation.gtf.bed"
  index = "/hpcnfs/scratch/ED/genome/GRCh38_human_v39/STAR"
}

process {
    executor = 'slurm'
    scratch = '/beegfs/scratch/xxxxx/'
    cpus = 1
    memory = 4.GB

    withName: 'fastq_screen' {
        cpus = 8
    }

    withName: 'trimming' {
        cpus = 4
    }

    withName: 'star' {
        cpus = 8
        memory = 40.GB
    }

}

tower {
  accessToken = 'eyJ0aWQiOiA4NX0uYWExNDIxYmRmNzA1ZDgzOTA4NmMyMTFhMjlkYTBjMDc1ZWFjMmQ3Yw=='
  endpoint = 'https://seqera.ieo.it/api'
  workspaceId = '52536440408009'
  enabled = true
}
